$border-radius: 6px;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#content{
    position: absolute;
    display: flex;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    #background_image{
        background-size: cover;
        background-image: url(../assets/fondo_desktop.jpg);
        display: flex;
        position: fixed;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        z-index: -100;
    }
    #repro{
        height: 580px;
        width: 320px;
        top: 20px;
        display: flex;
        border-radius: $border-radius;
        position: fixed;
        box-sizing: border-box;
        box-shadow: 0px 0px 30px;
        justify-content: center;
        align-items: flex-start;
        flex-flow: column;
        background-color: rgb(255, 255, 255);
        #album{
            width: 100%;
            height: 60%;
            display: flex;
            background-image: url(../assets/fondoAlbum.jpg);
            background-position: center;
            background-size: cover;
            border-top-right-radius: $border-radius;
            border-top-left-radius: $border-radius;
            position: relative;
            flex-flow: column;
            justify-content: space-between;
            align-items: center;
            #header1{
                width: 92%;
                height: max-content;
                display: flex;
                justify-content: space-between;
                .btn{
                    transition: all 0.5s ease;
                    margin-top: 10px;
                    display: flex;
                    height: 24px;
                    width: 24px;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }
                .btn:hover{
                    border-radius: 30px;
                    background-color: rgba(214, 214, 214, 0.555);
                    box-shadow: 0px 0px 50px;
                }
            }
            #footer1{
                width: 80%;
                height: 4%;
                margin: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        #panel{
            border-bottom-right-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
            width: 100%;
            height: 40%;
            position: relative;
            display: flex;
            flex-flow:column;
            align-items: center;
            justify-content: space-between;
            #song_info{
                margin-top: 20px;
                justify-content: center;
                align-items: center;
                width: 60%;
                height: 30%;
                flex-flow: column;
                display: flex;
                .subtext{
                    margin: 2px;
                    font-size: 13px;
                    font-family: 'Calibri';
                    color: rgb(90, 87, 87);
                }
                #textsong{
                    margin: 2px;
                    font-size: 20px;
                    font-family: 'Calibri';
                    color: rgb(173, 5, 5);
                }
                
            }
            #control{
                width: 55%;
                height: max-content;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .btn{
                    transition: all 0.5s ease;
                    display: flex;
                    height: 36px;
                    width: 36px;
                    justify-content: center;
                    align-items: center;
                    background-color: white;
                    border-radius: 30px;
                    box-shadow: 0px 1px 8px rgba(77, 77, 77, 0.774);
                    opacity: 100%;
                    cursor: pointer;
                }
                .btn:hover{
                    opacity: 80%;
                    background-color: rgba(214, 214, 214, 0.555);
                    box-shadow: 0px 1px 5px rgba(37, 37, 37, 0.596);
                }
                #audio{
                        visibility: hidden;
                        position: fixed;
                    }
                #play{
                    transition: all 0.5s ease;
                    display: flex;
                    height: 54px;
                    width: 54px;
                    justify-content: center;
                    align-items: center;
                    background-color: rgb(255, 255, 255);
                    border-radius: 30px;
                    box-shadow: 0px 1px 8px rgba(78, 78, 78, 0.596);
                    opacity: 100%; 
                    cursor: pointer;
                }
                #play:hover{
                    box-shadow: 1px 1px 6px rgba(37, 37, 37, 0.596);
                    opacity: 80%;
                    background-color: rgba(214, 214, 214, 0.555);
                }
            }
            #footer2{
                bottom: 0px;
                width: 84%;
                height: max-content;
                display: flex;
                flex-flow: nowrap;
                justify-content: space-between;
                align-items: center;
                .btn{
                    transition: all 0.5s ease;
                    display: flex;
                    height: 24px;
                    width: 24px;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 20px;
                    cursor: pointer;
                }
                .btn:hover{
                    border-radius: 30px;
                    background-color: rgba(214, 214, 214, 0.555);
                    box-shadow: 0px 0px 50px;
                }
            }
        }
    }

}

@media (max-width: 375px) {
    #content{
        #background_image{
            transition: all 0.5s ease;
            display: none;
        }
        #repro{
            transition: all 0.5s ease;
            top: 0px;
            width: 100vw;
            height: 100vh;
            border-radius: 0px;
            #album{
                transition: all 0.5s ease;
                border-top-right-radius: 0px;
                border-top-left-radius: 0px;
            }
            #panel{
                transition: all 0.5s ease;
                border-bottom-right-radius: 0px;
                border-bottom-left-radius: 0px;
                #song_info{
                    width: 60%;
                    height: 35%;
                    justify-content: flex-end;
                    .subtext{
                        font-size: 17px;
                    }
                    #textsong{
                        font-size: 26px;
                    }   
                }
                #control{
                    .btn{
                        height: 45px;
                        width: 45px;
                    }
                    #play{
                        height: 60px;
                        width: 60px;
                        box-shadow: 1px 1px 8px rgba(78, 78, 78, 0.596);
                    }
                }
            }
        }
    }
}
